<nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-submenu nzOpen nzIcon="desktop" nzTitle="Électroménagers">
                <ul>
                    <li nz-menu-item>Refrigérateur</li>
                    <li nz-menu-item>Lave-linge</li>
                    <li nz-menu-item>Cafetière</li>
                    <li nz-menu-item>Micro-ondes</li>
                    <li nz-menu-item>Aspirateur</li>
                    <li nz-menu-item>Four</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Salons" nzIcon="skin">
                <ul>
                    <li nz-menu-item>Canapé</li>
                    <li nz-menu-item>Table basse</li>
                    <li nz-menu-item>Meuble TV</li>
                    <li nz-menu-item>Tapis</li>
                    <li nz-menu-item>Lampe sur pied</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Chambres" nzIcon="home">
                <ul>
                    <li nz-menu-item>Lit double</li>
                    <li nz-menu-item>Armoire</li>
                    <li nz-menu-item>Chevet</li>
                    <li nz-menu-item>Commode</li>
                    <li nz-menu-item>Miroir</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Informatique" nzIcon="laptop">
                <ul>
                    <li nz-menu-item>Ordinateur portable</li>
                    <li nz-menu-item>Moniteur</li>
                    <li nz-menu-item>Souris sans fil</li>
                    <li nz-menu-item>Clavier mécanique</li>
                    <li nz-menu-item>Disque dur externe</li>
                    <li nz-menu-item>Carte graphique</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Multimédia" nzIcon="camera">
                <ul>
                    <li nz-menu-item>Smartphone</li>
                    <li nz-menu-item>Tablette</li>
                    <li nz-menu-item>Appareil photo numérique</li>
                    <li nz-menu-item>Caméra d'action</li>
                    <li nz-menu-item>Enceinte Bluetooth</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Voyages" nzIcon="global">
                <ul>
                    <li nz-menu-item>Valises</li>
                    <li nz-menu-item>Sacs de voyage</li>
                    <li nz-menu-item>Accessoires de voyage</li>
                    <li nz-menu-item>Guides touristiques</li>
                    <li nz-menu-item>Caméras étanches</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Mode" nzIcon="shopping">
                <ul>
                    <li nz-menu-item>Robes</li>
                    <li nz-menu-item>Chaussures</li>
                    <li nz-menu-item>Montres</li>
                    <li nz-menu-item>Bijoux</li>
                    <li nz-menu-item>Sacs à main</li>
                    <li nz-menu-item>Lunettes de soleil</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Sport & Loisirs" nzIcon="trophy">
                <ul>
                    <li nz-menu-item>Équipement de fitness</li>
                    <li nz-menu-item>Vélos</li>
                    <li nz-menu-item>Tentes</li>
                    <li nz-menu-item>Matériel de pêche</li>
                    <li nz-menu-item>Ballons de football</li>
                    <li nz-menu-item>Chaussures de randonnée</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Beauté & Santé" nzIcon="heart">
                <ul>
                    <li nz-menu-item>Produits de soin de la peau</li>
                    <li nz-menu-item>Maquillage</li>
                    <li nz-menu-item>Parfums</li>
                    <li nz-menu-item>Produits pour cheveux</li>
                    <li nz-menu-item>Vitamines et compléments</li>
                    <li nz-menu-item>Produits de relaxation</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Bébés & Enfants" nzIcon="smile">
                <ul>
                    <li nz-menu-item>Poussettes</li>
                    <li nz-menu-item>Sièges auto</li>
                    <li nz-menu-item>Chaises hautes</li>
                    <li nz-menu-item>Jouets</li>
                    <li nz-menu-item>Vêtements</li>
                    <li nz-menu-item>Accessoires</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Jardinage" nzIcon="api">
                <ul>
                    <li nz-menu-item>Plantes d'intérieur</li>
                    <li nz-menu-item>Outils de jardinage</li>
                    <li nz-menu-item>Mobilier de jardin</li>
                    <li nz-menu-item>Graines et bulbes</li>
                    <li nz-menu-item>Systèmes d'irrigation</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Électronique" nzIcon="audio">
                <ul>
                    <li nz-menu-item>Télévisions</li>
                    <li nz-menu-item>Systèmes audio</li>
                    <li nz-menu-item>Consoles de jeux</li>
                    <li nz-menu-item>Caméras de surveillance</li>
                    <li nz-menu-item>Drones</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Livres" nzIcon="book">
                <ul>
                    <li nz-menu-item>Romans</li>
                    <li nz-menu-item>Bandes dessinées</li>
                    <li nz-menu-item>Guides pratiques</li>
                    <li nz-menu-item>Livres pour enfants</li>
                    <li nz-menu-item>Livres de cuisine</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Jeux & Jouets" nzIcon="gift">
                <ul>
                    <li nz-menu-item>Jeux de société</li>
                    <li nz-menu-item>Puzzles</li>
                    <li nz-menu-item>Figurines</li>
                    <li nz-menu-item>Jeux éducatifs</li>
                    <li nz-menu-item>Peluches</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Gastronomie" nzIcon="coffee">
                <ul>
                    <li nz-menu-item>Chocolats et confiseries</li>
                    <li nz-menu-item>Vins et spiritueux</li>
                    <li nz-menu-item>Épices et herbes</li>
                    <li nz-menu-item>Produits bio et naturels</li>
                    <li nz-menu-item>Thés et cafés</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Animaux" nzIcon="github">
                <ul>
                    <li nz-menu-item>Nourriture pour animaux</li>
                    <li nz-menu-item>Accessoires pour animaux</li>
                    <li nz-menu-item>Jouets pour animaux</li>
                    <li nz-menu-item>Soins pour animaux</li>
                    <li nz-menu-item>Aquariums</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
</nz-layout>