<div class="registration-container">
    <h2>Inscription</h2>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()" class="registration-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="Veuillez entrer votre nom d'utilisateur!">
                <input nz-input placeholder="Nom d'utilisateur" formControlName="username" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Veuillez entrer votre adresse email!">
                <input nz-input type="email" placeholder="Adresse email" formControlName="email" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Veuillez entrer votre mot de passe!">
                <input nz-input type="password" placeholder="Mot de passe" formControlName="password" />
            </nz-form-control>
        </nz-form-item>
        <button nz-button class="registration-form-button" nzType="primary" type="submit">S'inscrire</button>
        <div class="additional-options">
            Already have an account ? <a routerLink="/login">Sign In</a>
        </div>
    </form>
</div>
<router-outlet></router-outlet>
```