<header class="p-3 mb-2 bg-dark text-white">
    <ul class="nav nav-pills flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/inscription">Register</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/addproduct">Add a product</a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/panier">Cart</a>
        </li>
        <li *ngIf="isLoggedIn()" (click)="logout()" class="nav-item">
            <a class="nav-link" routerLink="/panier">Logout</a>
        </li>
    <li *ngIf="isLoggedIn()" class="nav-item d-flex align-items-center">
        <nz-avatar nz-tooltip nzIcon="user" style="background-color: #87d068;"></nz-avatar>
        <span style="margin-left: 10px;"></span>
    </li>

    </ul>
</header>

<router-outlet></router-outlet>