<nz-layout class="layout-header custom">
    <nz-header>
        <div nz-row>
            <div nz-col nzSpan="24">
                <div class="logo">
                </div>
                <ul nz-menu nzTheme="" nzMode="horizontal">
                    <li nz-menu-item>
                        <a style="color: white !important;" routerLink="/home">Home</a>
                    </li>
                    <li nz-menu-item *ngIf="!isLoggedIn()">
                        <a style="color: white !important;" routerLink="/login">Login</a>
                    </li>
                    <li nz-menu-item *ngIf="!isLoggedIn()">
                        <a style="color: white !important;" routerLink="/inscription">Register</a>
                    </li>
                    <li nz-menu-item *ngIf="isLoggedIn() && isAdmin()">
                        <a style="color: white !important;" routerLink="/addproduct">Add Product</a>
                    </li>
                    <li nz-menu-item *ngIf="isLoggedIn()">
                        <a routerLink="/panier">
                            <nz-badge [nzCount]="totalProducts" [nzOverflowCount]="99">
                                <nz-avatar nz-tooltip nzIcon="shopping-cart" nzTheme="outline" style="background-color: #87d068;">
                                </nz-avatar>
                            </nz-badge>
                        </a>
                        
                    </li>
                    <li nz-menu-item *ngIf="isLoggedIn()">
                        <a routerLink="/user-data">
                        <nz-avatar nz-tooltip nzIcon="user" nzTheme="outline"
                            style="background-color: #87d068;">
                        </nz-avatar>
                        </a>
                        {{username}}
                    </li>
                    <li nz-menu-item *ngIf="isLoggedIn()">
                        <a style="color: white !important;" (click)="logout()" routerLink="/login">Logout</a>
                    </li>
                    <li nz-menu-item *ngIf="isLoggedIn() && isAdmin()">
                        <a style="color: white !important;" routerLink="/adminpannel">Admin Pannel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nz-header>
</nz-layout>