<div class="form-container">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
        <div nz-row class="form-row">
            <nz-form-label nz-col nzSpan="8" [nzFor]="'title'" nzRequired>Title</nz-form-label>
            <nz-form-control nz-col nzSpan="16">
                <input nz-input formControlName="title" placeholder="Enter title">
            </nz-form-control>
        </div>

        <div nz-row class="form-row">
            <nz-form-label nz-col nzSpan="8" [nzFor]="'description'" nzRequired>Description</nz-form-label>
            <nz-form-control nz-col nzSpan="16">
                <textarea nz-input formControlName="description" placeholder="Enter description"></textarea>
            </nz-form-control>
        </div>

        <div nz-row class="form-row">
            <nz-form-label nz-col nzSpan="8" [nzFor]="'imageUrl'">Image URL</nz-form-label>
            <nz-form-control nz-col nzSpan="16">
                <input type="file" (change)="onFileSelected($event)" placeholder="Choose an image">
            </nz-form-control>
        </div>

        <div nz-row class="form-row">
            <nz-form-label nz-col nzSpan="8" [nzFor]="'price'" nzRequired>Price</nz-form-label>
            <nz-form-control nz-col nzSpan="16">
                <input nz-input type="number" formControlName="price" placeholder="Enter price">
            </nz-form-control>
        </div>

        <div nz-row class="form-row">
            <nz-form-label nz-col nzSpan="8" [nzFor]="'quantity'" nzRequired>Quantity</nz-form-label>
            <nz-form-control nz-col nzSpan="16">
                <input nz-input type="number" formControlName="quantity" placeholder="Enter quantity">
            </nz-form-control>
        </div>

        <div class="form-row submit-row">
            <button nz-button nzType="primary" type="submit">Submit</button>
        </div>
    </form>
</div>