.form-container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 50px;
}

.nz-form {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-row {
    margin-bottom: 24px;
}

.submit-row {
    display: flex;
    justify-content: center;
}