<div class="reset-password-container">
    <nz-card>
        <form nz-form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="reset-form">
            <nz-form-item>
                <nz-form-control nzErrorTip="Entrez un email valide">
                    <input nz-input placeholder="Email" formControlName="email" style="max-width: 500px;" />

                </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" [disabled]="!resetForm.valid">Envoyer la demande de
                réinitialisation</button>
        </form>
    </nz-card>
</div>