<div class="reset-password-container">
    <form nz-form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
            <nz-form-control nzErrorTip="Mot de passe requis">
                <input nz-input type="password" placeholder="Nouveau mot de passe" formControlName="newPassword" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Confirmation du mot de passe requise">
                <input nz-input type="password" placeholder="Confirmez le nouveau mot de passe"
                    formControlName="confirmPassword" />
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="!resetForm.valid">Réinitialiser le mot de passe</button>
    </form>
</div>