<div class="cart-container">
    <h2>Mon Panier</h2>
    <div class="products-card" *ngFor="let product of panierProducts">
        <h2>{{product.title | uppercase}}</h2>
        <img [src]="product.image" [alt]="product.title">
        <p>{{product.price}} €</p>
        <div class="quantity-controls">
            <button (click)="decreaseQuantity(product.id)">-</button>
            {{product.quantity}}
            <button (click)="increaseQuantity(product.id)">+</button>
        </div>
        <p>
            <button (click)="removeProductFromCart(product.id)">Retirer du panier</button>
        </p>
    </div>
</div>