.cart-container {
    padding: 20px;
    max-width: 100%;
}

nz-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

nz-col {
    margin-bottom: 20px;
    width: 18rem;
    margin-left: 20px;
    margin-right: auto;
}
.product-card {
    width: 100%;
    :hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }   
    border-radius: 8px;
}
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.action-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.quantity-btn,
.remove-btn {
  margin-bottom: 5px;
}